API_ALLOWED_ORIGINS=localhost,yayu.dev,preview.yayu.dev
API_URL=http://preview.yayu.dev
CONTENTFUL_ACCESS_TOKEN=<access_token>
CONTENTFUL_SPACE_ID=<space_id>
SERVER_URL=http://preview.yayu.dev
DEV_ENV=true
E2E_BASE_URL=http://localhost:3000