:root {
  /* Text */
  --text-color: #212529;
  --text-color-secondary: #6c757d;
  --link-color: #fff9e5;

  /* Background */
  --background: #a69075;
  --settings-background: #c4bfa9;
  --background-alt: #fff9e5;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: Karla, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
